.add-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-question-form h1 {
    font-size: 20px;
}
.add-question-form h3 {
    font-size: 20px;
    padding: 3px;
}
.add-question-form label {
    font-size: 12px;
}
.add-question-form input {
    background-color: white;

    border: solid 1px gray;
    height: 20px;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 3px rgb(128, 128, 128, 0.5);
}
.add-question-form button,
.form-complete button {
    background-color: #3c1b43;
    border: none;
    border-radius: 8px;
    height: 23px;
    color: rgb(248, 182, 182);
    padding: 2px 8px;
    box-shadow: 5px 5px 8px rgba(173, 39, 246, 0.5);
    cursor: pointer;
    margin: 10px 0 20px 0;
}
