.userAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userAccount h2 {
    font-size: calc(13px + 0.5vw);
    color: aquamarine;
    margin-right: 5px;
}

.userAccount a {
    padding: 5px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;   
/* box-shadow: 3px 3px 5px 3px rgb(255 165 0 / 30%); */
}
.logout{
    padding: 5px;
    height: 30px;
    margin-right: 10px;
    background-color: #5b3263;
    border-radius: 5px;
    font-size: calc(10px + 0.5vw);
    box-shadow: 3px 3px 5px 1px rgb(127 255 212 /30%);
    border: none;
    margin-left: 5px;
    min-width: 50px;
    color: aquamarine;
}
.logout:hover{
  box-shadow: 0px 8px 10px #2ee59d66;
  color: #fff;
  transform: translateY(-2px);
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}
ul{
    list-style: none;
    /* color: aquamarine; */
  }
  a{
    text-decoration: none;
  }
  
  .menu{
    display: flex;
  }
  .menu a{
 
    
    padding: 8px;
    height: 40px;
    margin-right: 10px;
    background-color: #5b3263;
    border-radius: 5px;
    font-size: calc(10px + 0.5vw);
    box-shadow: 3px 3px 5px 1px rgb(127 255 212 /30%);
    border: none;
    margin-left: 5px;
    min-width: 50px;
    color: aquamarine;
  }
  .menu a:hover{
    color: #fff;
    background-color: #333;
    box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
                inset 0px 4px 8px rgba(0,255,255,0.3), 
                inset 0px 8px 16px rgba(0,255,255,0.3);
    transition: 0.2s;
    transform: translateY(2px);
  }
