.answers{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-top: 10px;

}
.options{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    
}

.singleOption {
    width: 45%;
    height: 50px;
    background-color: rgb(243, 241, 241);
    padding: 15px 20px;
    margin: 10px;
    border: solid 1px #3C1B43;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(173, 39, 246, 0.5);
    transform: translateY(var(--translate-y,0));
}

.singleOption:hover{
    box-shadow: 8px 8px 16px rgba(109, 11, 162, 0.5);
    transition: 0.2s;
    transform: translateY(-2px);

cursor: pointer;


}

@media (max-width: 614px){
    .singleOption{
        width: 100%;
    }
}
.select{
    background-color: rgb(32, 214, 4);
    color: white;
    box-shadow: 0 0 5 black;
   
}
.wrong{
    background-color: red;
    color: white;
    box-shadow: 0 0 5 black;
  
}
.result {
    display: flex;
  
    justify-content: center;
    height: 40vh;
    text-align: center;
    border: 1px;
    border-color: black;
    margin-top: 20px;
    max-width: 400px;
}
.score_title{
    font-size: 30px;
    width: 85%;
    border: solid 1px #3C1B43;
    height: 150px;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
    inset 0px 8px 16px rgba(0,255,255,0.3), 
    inset 0px -8px 16px rgba(0,255,255,0.3),
    0px 0px 15px  #3C1B43;
background-color: #3C1B43;
color:  rgb(248, 182, 182);


}
.quiz{
    display: flex;
  
    justify-content: center;
}
