.popup {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.popup-container {
    width: 80%;
    max-width: 400px;
    /* height: 360px; */
    background-color:rgb(127, 255, 212);
    border: solid 2px rgb(26, 54, 45);
    border-radius: 10px;
    box-shadow: 4px 8px 8px 0px rgba(127 255 212 / 30%); 
}

.popup-content {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.close-button {
    margin-left: 10px;
    background-color: #cccccc00;
    color: #2d2d2d;
    padding: 5px;
    border: none;
    cursor: pointer;
    float: right;
    margin:0 10px 0 0;
    
}
