.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.category-container h2 {
    color: #3c1b43;
    margin-bottom: 20px;
}

.category-container a {
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 139, 139);
}

.category-container div {
    margin-bottom: 20px;
}
.cat-descr{
    width: 90%;
}
.b-cont{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.c-cont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.c-cont-a{
     display: flex;
    justify-content: center;
    width: 100%;
}
.b{
    width: 60px;
    background-color:  #3C1B43;
    border: none;
    border-radius: 8px;
    height: 30px;
    color:  rgb(248, 182, 182);
    box-shadow: 4px 4px 8px rgba(173, 39, 246, 0.5);
    
}
.c{
  
    background-color:  #3C1B43;
    border: none;
    border-radius: 8px;
    height: 30px;
    color:  rgb(248, 182, 182);
    padding: 3px 8px;
    box-shadow: 4px 4px 8px rgba(173, 39, 246, 0.5);
   
}
.b:hover, .c:hover{
    box-shadow: 8px 8px 16px rgba(109, 11, 162, 0.5);
    transition: 0.2s;
    transform: translateY(-2px);
    color: rgb(249, 111, 208);
}
