.main {
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    background-color: aquamarine;
}

.main h1 {
    color: #3c1b43;
}

.login {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-end;
    height: 60px;
}
.navbar {
    display: flex;
    /* flex: 1; */
    position: relative;
    min-width: 50px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: rgb(45, 44, 44);
}

.navbar #hidden {
    display: flex;
}

.navlinks {
    height: 100%;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navlinks li {
    list-style: none;
}

#logo {
    background-color: #33333300;
    color: #3c1b43;
    font-size: xx-large;
    padding: 0;
    font-weight: 800;
}

.a {
    display: block;
    text-decoration: none;
    color: rgb(41, 40, 40);
    padding: 1rem;
    z-index: 1;
    background-color: white;
}

.navlinks li .a:hover {
    color: white;
}

.toggle-button {
    position: absolute;

    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar #hidden {
        flex-direction: column;
        justify-content: center;
        left: -9px;
        top: 40px;
        height: 120px;
        width: 100px;
        align-items: flex-start;
        background-color: aliceblue;
        position: absolute;
    }

    .toggle-button {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navlinks ul li {
        text-align: center;
        list-style: none;
    }
    .a:hover {
        background-color: white;
    }

    .a {
        padding: 0.5rem 1rem;
    }

    .navlinks.active {
        display: flex;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.menu {
    display: flex;
}
.menu a {
    height: 40px;
    margin: 10px;
    line-height: 43px;
    padding: 0 40px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    color: aquamarine;
    background-color: #3c1b43;
    border-radius: 5px;
}
.menu a:hover {
    color: #fff;
    background-color: #333;
    box-shadow: inset 0px 2px 4px rgba(0, 255, 255, 0.3),
        inset 0px 4px 8px rgba(0, 255, 255, 0.3),
        inset 0px 8px 16px rgba(0, 255, 255, 0.3);
    transition: 0.2s;
    transform: translateY(2px);
}
.logo {
    font-size: 40px;
    margin-top: 5px;
}
