.main{
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    background-color:  #3C1B43;
    border-bottom: solid 1px aquamarine;
}

.login{
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex: 1;
    justify-content: flex-end;
    height:50px;
}
.navbar {
    display: flex;
    /* flex: 1; */
    position: relative;
    min-width: 50px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: rgb(45, 44, 44);
}

.navbar #hidden{
    display: flex;
}

.navlinks {
    height: 100%;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navlinks li {
    list-style: none;
}

.a , .a-c{
    display: block;
    text-decoration: none;
   
    padding: 1rem;
  
    background-color:  #3C1B43;
    border-radius: 5px;
}
.a{
    color:aquamarine;
}
.a-c{
    color:white;
    font-size: 20px;
}


.navlinks ul li .a:hover,  .a-c:hover{
    color: aquamarine;
    background-color: #333;
    box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
                inset 0px 4px 8px rgba(0,255,255,0.3), 
                inset 0px 8px 16px rgba(0,255,255,0.3);
    transition: 0.2s;
    transform: translateY(2px);
  }

.toggle-button {
    position: absolute;
   
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar #hidden{
        flex-direction: column;
        justify-content: center;
        left: -9px;
        top:40px;
        height: 120px;
        width: 100px;
        align-items: flex-start;
        background-color:  #3C1B43;
        position: absolute;
    }

    .toggle-button {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
        background-color:  #3C1B43;
    }

    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navlinks ul li {
        text-align: center;
        list-style: none;
    }
   

    .a {
        padding: .5rem 1rem;
        background-color: #3C1B43;
    }
    .a-c{
        padding: .5rem 1rem;
        background-color: #3C1B43;

    }
    .navlinks ul li .a:hover, .a-c:hover{
        color: #fff;
        background-color: #333;
        box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
                    inset 0px 4px 8px rgba(0,255,255,0.3), 
                    inset 0px 8px 16px rgba(0,255,255,0.3);
        transition: 0.2s;
        transform: translateY(2px);
      }
    .navlinks.active {
        display: flex;
    }
}
/* ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  } */
  
  /* .menu{
    display: flex;
  } */
  /* .menu a{
    height: 40px;
    margin: 10px;
    line-height: 43px;
    padding: 0 40px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    color: aquamarine;
    background-color: #3C1B43;
    border-radius: 5px;
  } */
 
