.display-none {
    display: none;
}

.login-container {
    display: flex;
    justify-content: center;
}

.acc-form {
    height: 230px;
    width: 90%;
    max-width: 300px;
    padding: 20px 10px;
    border-radius: 10px;
}

.acc-form h2 {
    color: #3c1b43;
}

.acc-form form {
    display: flex;
    flex-direction: column;
}

.acc-form form input {
    padding: 5px;
    font-size: 15px;
    margin: 5px 0;
    border: solid black 0.5px;
    border-radius: 5px;
}

.login-button {
    width: 100px;
}

.name-inputs {
    display: flex;
}

.name-inputs input {
    width: 50%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.signuploginhere {
    text-decoration: underline;
}

.signuploginhere:hover {
    cursor: pointer;
    color: #3c1b43d4;
}
.login-signup-navigater {
    font-weight: 600;
    font-size: large;
}
