.categories-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    color: #7fffd4;
    width: 60%;
    margin-top: 30px;
    justify-content: center;
}
#root {
    text-align: center;
}

.category-box {
    border: 1px solid gray;
    padding: 10px;
    margin: 15px;
    box-shadow: 3px 3px 5px 3px aquamarine;
    width: 40%;
    text-align: center;
    min-width: 230px;
    background-color: #3C1B43;
    border-radius: 10px;
}
.category-box h3{
    color:rgb(253, 250, 251);
}
.category-box p{
    color: rgb(246, 159, 241);
}
.category-box:hover {
    cursor: pointer;
    box-shadow: 8px 8px 16px rgba(173, 39, 246, 0.5);
    transition: 0.2s;
    transform: translateY(-2px);
}

.category-box a {
    text-decoration: none;
    color: rgb(252, 249, 249);
    cursor: pointer;
}
.category-box h3:hover{
    color: rgb(249, 111, 208);
}
.choice-box {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .category-box p {
        display: none;
    }

    .category-box {
        margin: 5px;
        height: 50px;
    }
    .category-box h3 {
        margin: 0;
        color: rgb(246, 159, 241);
    }
    .add-category-button {
        margin-top: -5px;
    }
}
.cat-h2{
    padding: 20px;
    background-color: white;
    text-decoration: underline;
}
.add-category-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: xx-large;
    cursor: pointer;
    padding-bottom: 5px;
}
