.categories-list {
    display: flex;
    flex-wrap: wrap;
}

.category-box {
    border: 1px solid gray;
    padding: 10px;
    margin: 25px;
    float: left;
    width: 25%;
    text-align: center;
    background-color: white;
}

.category-box:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.add-category-button {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-size: xx-large;
    cursor: pointer;
}
